.nio-page{
    background-color: #2e2e3a;
    color: white;
}

.nio-page img{
    width: 100%;
    object-fit: cover;
}


.nio-page > .page-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}


.nio-page > .page-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 190px 120px 120px; 
    align-items: center;
    justify-content: center;
}

.nio-page > .page-content > .about-car{
    display: flex;
}
.nio-page > .page-content > .about-car > .name{
    font-size: 4rem;
    width: 35%;
    font-weight: 600;
    color: #6edbc6;
}
.nio-page > .page-content > .about-car > .description{
    width: 65%;
    font-size: 1.6rem;
}

.nio-page > .page-content > .interyer{
    display: flex;
    height: 500px;
    gap: 50px;
    justify-content: space-evenly;
}

.nio-page > .page-content > .interyer > .leftSide,
.nio-page > .page-content > .interyer > .rightSide{
    width: 45%;
}

.nio-page > .page-content > .interyer > .rightSide{
    display: flex;
    align-items: flex-end;
}

.nio-page > .page-content > .mark{
    display: flex;
    margin-top: 100px;
    padding: 0 50px;
}
.nio-page > .page-content > .mark > .leftSide,
.nio-page > .page-content > .mark > .rightSide{
    width: 50%;
}
.nio-page > .page-content > .mark > .leftSide > img{
    width: 90%;
}

.nio-page > .page-content > .mark > .rightSide{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nio-page > .page-content > .mark > .rightSide > .name{
    font-size: 3rem;
    color: #6edbc6;
    font-weight: 600;
}

.nio-page > .page-content > .mark > .rightSide > .description{
    font-size: 1.6rem;
}

.nio-page > .page-content > .model{
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
}

.nio-page > .page-content > .model > .spacer{
    display: flex;
    gap: 50px;
    width: 90%;
    justify-content: flex-end;
}
.nio-page > .page-content > .model > .spacer > .leftSide{
    width: 65%;
}
.nio-page > .page-content > .model > .spacer > .rightSide{
    font-size: 4rem;
    width: 35%;
    color: #6edbc6;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.nio-page > .page-content > .model > .spacer > .rightSide > .name{
    width: 100%;
    text-align: center;
}

.nio-page > .page-content > .description{
    display: flex;
    padding: 0 50px;
    flex-direction: row;
}

.nio-page > .page-content > .description > .leftSide{
    width: 50%;
    font-size: 1.6rem;
    padding: 20px 0;
}
.nio-page > .page-content > .description > .rightSide{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.nio-page > .page-content > .description > .rightSide > img{
    width: 90%;
}

@media (max-width: 1200px) {
    .nio-page > .page-intro{
        height: 35vh;
    }
    .nio-page > .page-intro > img {
        height: 100%;
    }
    .nio-page > .page-content {
        padding: 0;
        gap: 0px;

    }
    .nio-page > .page-content > .about-car {
        flex-direction: column;
        padding: 100px 30px 30px;
        width: 100%;
        gap: 50px;
    }
    .nio-page > .page-content > .about-car > .name {
        width: 100%;
        font-size: 3rem;
    }
    .nio-page > .page-content > .about-car > .description {
        width: 100%;
        font-size: 1.4rem;
    }
    .nio-page > .page-content > .interyer {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .nio-page > .page-content > .interyer > .leftSide > img{
        width: 90%;
    }
    .nio-page > .page-content > .interyer > .rightSide{
        justify-content: flex-end;
    }
    .nio-page > .page-content > .interyer > .rightSide > img{
        width: 90%;
    }
    .nio-page > .page-content > .interyer > .leftSide,
    .nio-page > .page-content > .interyer > .rightSide {
        width: 100%;
    }
    .nio-page > .page-content > .mark {
        flex-direction: column;
        padding: 0 20px;
    }
    .nio-page > .page-content > .mark > .leftSide > img{
        width: 100%;
    }
    .nio-page > .page-content > .mark > .rightSide {
        padding: 30px;
    }
    .nio-page > .page-content > .mark > .rightSide > .description {
        text-align: center;
    }
    .nio-page > .page-content > .mark > .leftSide,
    .nio-page > .page-content > .mark > .rightSide {
        width: 100%;
    }
    .nio-page > .page-content > .model {
        justify-content: center;
        padding: 20px;
    }
    .nio-page > .page-content > .model > .spacer {
        flex-direction: column;
        align-items: center;
    }
    .nio-page > .page-content > .model > .spacer > .rightSide > .name {
        text-align: right;
    }
    .nio-page > .page-content > .model > .spacer > .leftSide > img{
        width: 90%;
    }
    .nio-page > .page-content > .model > .spacer > .leftSide,
    .nio-page > .page-content > .model > .spacer > .rightSide {
        width: 100%;
    }
    .nio-page > .page-content > .description {
        flex-direction: column;
    }
    .nio-page > .page-content > .description > .leftSide,
    .nio-page > .page-content > .description > .rightSide {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nio-page > .page-content {
        padding: 0 0 100px;
    }
    .nio-page > .page-content > .about-car > .name {
        font-size: 2.5rem;
    }
    .nio-page > .page-content > .about-car > .description {
        font-size: 1.2rem;
    }
    .nio-page > .page-content > .model > .spacer > .rightSide {
        font-size: 3rem;
    }
}

/* 
    .nio-page
        .page-intro
            img
        .page-content
            .about-car
                .name
                .description
            .interyer
                .leftSide
                    img
                .rightSide
                    img
            .mark
                .leftSide
                    img
                .rightSide
                    .name
                    .description
            .model
                .spacer
                    .leftSide
                        img
                    .rightSide
                        .name
            .description
                .leftSide
                    .description
                .rightSide
                    img

*/