.our-services{
    background-color: #2e2e3a;
}

                                /* header start */

.our-services > .services-header > .header-image{
    width: 100%;
    height: calc(100vh - 60px);
    object-fit: cover;
}
                                /* header finish */

                                /* main start */
.our-services > .main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-services > .main > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    gap: 50px;
    align-items: center;
    margin: 50px 0;
}

.our-services > .main > .container > .services-header{
    display: flex;
    justify-content: center;
    color: #6edbc6;
    font-size: 1.6rem;
    align-items: center;
}

.our-services > .main > .container > .content{
    width: 100%;
    gap: 20px;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-services > .main > .container > .content > .content-row{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.our-services > .main > .container > .content > .content-row > .service{
    padding: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    border-radius: 30px;
}

.our-services > .main > .container > .content > .first-row{
    flex-grow: 6;
}    
.our-services > .main > .container > .content > .second-row{
    flex-grow: 7;
}    
.our-services > .main > .container > .content > .content-row > .service-1{
    flex-grow: 5;
    background-image: url("../../assets/img/our-services/2.png");
    align-items: flex-end;
}
.our-services > .main > .container > .content > .content-row > .service-2{
    background-image: url("../../assets/img/our-services/3.png");
    flex-grow: 3;
}
.our-services > .main > .container > .content > .content-row > .service-3{
    justify-content: center;
    background-position: 0 -30px;
    background-image: url("../../assets/img/our-services/4.png");
    flex-grow: 3;
}
.our-services > .main > .container > .content > .content-row > .service-4{
    justify-content: flex-end;
    background-image: url("../../assets/img/car_inside.jpg");
    align-items: flex-end;
    background-position: 80%;
    flex-grow: 5;
}
@media (max-width: 768px) {
    .our-services > .main > .container > .content > .content-row {
        flex-direction: column;
    }
    .our-services > .main > .container {
        width: 90vw;
    }
    .our-services > .main > .container > .content {
        height: 200vh;
    }
    .our-services > .main > .container > .content > .first-row,
    .our-services > .main > .container > .content > .second-row,
    .our-services > .main > .container > .content > .content-row > .service-1,
    .our-services > .main > .container > .content > .content-row > .service-2,
    .our-services > .main > .container > .content > .content-row > .service-3,
    .our-services > .main > .container > .content > .content-row > .service-4{
        flex-grow: 1;    
        background-position: 50%;
    }
}
                                /* main finish */

                                /* details start */
.our-services > .details{
    padding: 100px;
}

.our-services > .details > .services-header{
    color: #6edbc6;
    font-size: 2rem;
}
.our-services > .details > .items{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    color: white;
}

.our-services > .details > .items > .item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-services > .details > .items > .item img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.our-services > .details > .items > .item1 > .leftSide{
    width: 40%;
}
.our-services > .details > .items > .item1 > .leftSide > p{
    width: 50%;
    font-size: 1.2rem;
}
.our-services > .details > .items > .item1 > .rightSide{
    width: 60%;
}
.our-services > .details > .items > .item1 > .rightSide img{
    width: 100%;
    height: 400px;
}




.our-services > .details > .items > .item2 > .leftSide{
    width: 50%;
}
.our-services > .details > .items > .item2 > .leftSide > img{
    width: 100%;
    height: 350px;
}
.our-services > .details > .items > .item2 > .rightSide{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-services > .details > .items > .item2 > .rightSide > p{
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}



.our-services > .details > .items > .item3{
    justify-content: flex-start;
}

.our-services > .details > .items > .item3 > .leftSide{
    width: 40%;
}
.our-services > .details > .items > .item3 > .leftSide > p{
    width: 70%;
}
.our-services > .details > .items > .item3 > .rightSide img{
    height: 400px;
}

@media (max-width: 768px) {
    .our-services > .details{
        padding: 0px;
    }
    .our-services > .details > .services-header{
        padding: 30px;
    }
    .our-services > .details > .items {
        margin-top: 40px;
    }
    .our-services > .details > .items > .item1 {
        flex-direction: column-reverse;
        padding: 30px;
        gap: 10px;
    }
    .our-services > .details > .items > .item1 > .leftSide {
        width: 85%;
    }
    .our-services > .details > .items > .item1 > .rightSide {
        align-self: flex-end;
        width: 85%;
    }
    .our-services > .details > .items > .item1 > .rightSide img {
        height: 200px;
    }
    .our-services > .details > .items > .item2 {
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }
    .our-services > .details > .items > .item2 > .rightSide > p,
    .our-services > .details > .items > .item2 > .rightSide {
        width: 100%;
    }
    .our-services > .details > .items > .item2 > .leftSide img {
        height: 150px;
    }
    .our-services > .details > .items > .item2 > .leftSide {
        width: 70%;
        align-self: flex-start;
    }
    .our-services > .details > .items > .item3 {
        flex-direction: column-reverse;
        padding-left: 30px;
        gap: 10px;
    }
    .our-services > .details > .items > .item3 > .rightSide {
        width: 95%;
        align-self: flex-end;
    }
    .our-services > .details > .items > .item3 > .leftSide {
        width: 100%;
    }
    .our-services > .details > .items > .item3 > .rightSide img {
        height: 300px;
    }
}
                                /* details finish */
                                /* campaigns start */

.our-services > .campaigns{
    /* height: 100vh; */
    padding-bottom: 100px;
}

.our-services > .campaigns > .services-header{
    color: #6edbc6;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.our-services > .campaigns > .items{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}

.our-services > .campaigns > .items > .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.our-services > .campaigns > .items > .item > .upper{
    height: 400px;
    width: 500px;
    background-size: cover;
}

.our-services > .campaigns > .items > .item:nth-child(1) > .upper{
    background-position: center;
    background-image: url("../../assets/img/our-services/9.png");
}
.our-services > .campaigns > .items > .item:nth-child(2) > .upper{
    background-position: center;
    background-image: url("../../assets/img/our-services/10.png");
}
.our-services > .campaigns > .items > .item:nth-child(3) > .upper{
    background-image: url("../../assets/img/our-services/11.png");
}


.our-services > .campaigns > .items > .item > .down{
    font-size: 2rem;
}
@media (max-width: 768px) {
    .our-services > .campaigns{
        margin-top: 100px;
    }
    .our-services > .campaigns > .items > .item {
        padding: 30px;
        gap: 10px;
        width: 100%;
    }
    .our-services > .campaigns > .items > .item > .upper {
        width: 100%;
        height: 400px;
    }
}
                                /* campaigns finish */

/* 
.our-services
    .services-header
        .header-image
    .main
        .container
            .services-header
                h1
            .content
                .content-row .first-row 
                    .service .service-1
                        h1
                    .service .service-2
                        h1
                .content-row .second-row
                    .service .service-3
                        h1
                    .service .service-4
                        h1
    .details
        .services-header
            h1
        .items
            .item1 .item
                .leftSide
                    p
                .rightSide
                    img
            .item2 .item
                .leftSide
                    img
                .rightSide
                    p
            .item3 .item
                .leftSide
                    p
                .rightSide
                    img


    .campaigns
        .services-header
            h1
        .items
            .item
                .upper
                .down
                    p
            .item
                .upper
                .down
                    p
            .item
                .upper
                .down
                    p

*/